{% if is_paginated %}
<nav aria-label="Article Pagination">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.tag %}&tag={{ request.GET.tag }}{% endif %}" aria-label="Previous Page">&laquo; Prev</a>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">&laquo; Prev</span></li>
        {% endif %}

        {% for num in paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.tag %}&tag={{ request.GET.tag }}{% endif %}">{{ num }}</a>
            </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.tag %}&tag={{ request.GET.tag }}{% endif %}" aria-label="Next Page">Next &raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">Next &raquo;</span></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
